# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.venv/
venv/
ENV/
env/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# DB / local state
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.pyc
